<ul class="nav nav-pills nav-fill mt-40">
    <li class="nav-item">
        <a class="nav-link active" href="./agregar">Agregar Libro</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="./modificar">Modificar Libro</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="./supr">Eliminar Libro</a>
    </li>
</ul>

<div class="container">
    <h1><strong>LISTA DE LIBROS</strong></h1>
</div>

<div class="regresar">
    <a href="./home" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Regresar</a>
</div>