a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    text-align: center;
    margin-top: 50px;
}

.regresar {
    margin-top: 50px;
    text-align: center;
}