<ul class="nav justify-content-center">

    <li class="nav-item">
        <a class="nav-link" href="./user"><strong>USUARIOS</strong></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="./admin"><strong>ADMINISTRADOR</strong></a>
    </li>

</ul>

<br/><br/><br/><br/>
<div class="media">
    <img class="izquierda mr-3" src="https://media.istockphoto.com/photos/books-stacked-on-table-at-bookstore-picture-id120004828?k=20&m=120004828&s=612x612&w=0&h=3Id1rv7HDuCY4aOIas4SGK3yJ_3uJoTQPE35B8i3kwE=" alt="Generic placeholder image" width="30%" height="30%">
    <aside>
        <h1 class="libr"><strong>Libreria MINTIC</strong></h1>
        <p class="mt-1">Bienvenidos a su Libreria Virtual MINTIC, aquí podrá disfrutar de las mejores obras, de una manera virtual, accediendo a ellas desde cualquier parte, para que no te pierdas de nunca de esos libros que te atraparon en cualquier etapa de tu vida.</p>
        <p class="text1 mt-4">Esperamos tenerlos seguido por acá y que disfruten de esa historia que tanto desean.</p>
    </aside>
</div>