h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-content: center;
}

p {
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img.izquierda {
    float: left;
    margin-right: 15px;
}