<h1><strong>USUARIOS</strong></h1>

<nav class="navbar navbar-dark bg-dark justify-content-between">
    <a class="navbar-brand">Búsqueda de libros</a>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Realice su búsqueda aquí" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">BUSCAR</button>
    </form>
</nav>

<div>
    <aside>
        <p>Desde aquí podrás realizar la busqueda del libro que deseas leer, solo debes escribir el nombre del libro y selecciona en buscar, si no lo encuentras, próximamente estaremos agregando nuevos textos a nuestra base de datos.<br/> Esperamos encuentres
            lo que buscas y puedas disfrutar de una excelente lectura.</p>
    </aside>
</div>

<div class="regresar">
    <a href="./home" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Regresar</a>
</div>